/* Footer.css */
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@1&family=Archivo:wght@100&family=Barlow+Condensed:ital,wght@1,200&family=Dosis:wght@200..800&family=Edu+TAS+Beginner&family=Exo+2:wght@600&display=swap");
.footer {
  background-color: #fff;
  color: #333;
  padding: 20px 0;
  text-align: center;
  font-family: "Exo 2";
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-links li a {
  text-decoration: none;
  color: #000000;
  transition: color 0.2s ease;
}

.footer-links li a:hover {
  color: #e2cac8;
}
